{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('project_show', {'id': section.project.id }) }}" class="btn btn-primary" ><i class="fa fa-arrow-left"></i> Back to the project</a>

    <h1>
		Section
		<ul class="no-bullets inline-list">
			<li>
				<a href="{{ path('section_edit', { 'id': section.id }) }}" class="btn btn-primary" ><i class="fa fa-edit"></i> Edit</a>
			</li>
			<li>
				{{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
				{{ form_end(delete_form) }}
			</li>
		</ul>	
	</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ section.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ section.content }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
