{% extends 'base.html.twig' %}

{% block body %}
	{% for project in character.projects %}
		<a href="{{ path('project_show', {'id': project.id }) }}" class="btn btn-primary" ><i class="fa fa-arrow-left"></i> Back to the project {{project.title}}</a>
	{% endfor %}
		
    <h1>Character
		<ul class="no-bullets inline-list">
			<li>
				<a href="{{ path('character_edit', { 'id': character.id }) }}" class="btn btn-primary" ><i class="fa fa-edit"></i> Edit</a>
			</li>
			<li>
				{{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
				{{ form_end(delete_form) }}
			</li>
		</ul>	
	</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ character.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ character.lastname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ character.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
