{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects             
		<a href="{{ path('project_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Create a new project</a>
	</h1>

	{% if not(projects is empty) %}

		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for project in projects %}
				<tr>
					<td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.title }}</a></td>
					<td>{{ project.description }}</td>
					<td>
						<ul class="no-bullets inline-list">
							<li>
								<a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-primary"  data-toggle="tooltip" title="Show" data-original-title="Show"><i class="fa fa-eye"></i></a>
							</li>
							<li>
								<a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-primary" data-toggle="tooltip" title="Edit" data-original-title="Edit"><i class="fa fa-edit"></i></a>
							</li>
						</ul>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	
	{% else %}

		<em>No projects yet.</em>
	
	{% endif %}

	
{% endblock %}
